{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="h2">{{ assembly }}</h1>
  <div class="row">
    <div class="col">
      <div>
        <div class="card">
          <div class="card-header">
            <a class="btn dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Parameters
            </a>
          </div>
          <div class="card-body collapse" id="collapseExample">
            <form>
              {%- for field in form %}
              <div class="mb-3">
                <label for="{{field.id}}" class="form-label">
                  {{field.label.text|safe}}
                </label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" id="{{field.id}}" name="{{field.name}}"
                    value="{{field._value()}}"
                    step="0.0001"
                    aria-describedby="{%- if field.errors or field.description %}{{field.id}}_help{%- endif %} {%- if field.render_kw.units %}{{field.id}}_units{%- endif %}">
                  {% if field.render_kw.units %}
                  <span class="input-group-text" id="{{field.id}}_units">{{field.render_kw.units|safe}}</span>
                  {% endif %}
                </div>
                {%- if field.errors %}
                {%- for error in field.errors %}
                <div id="{{field.id}}_help" class="invalid-feedback">
                  {{error}}
                </div>
                {%- endfor %}
                {%- elif field.description -%}
                <div id="{{field.id}}_help" class="form-text">{{field.description|safe}}</div>
                {%- endif %}
              </div>
              {%- endfor %}
              <button type="submit" class="btn btn-primary">Customize</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div>
        <div class="card">
          <div class="card-header">
            <a class="btn dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Files
            </a>
          </div>
          <div class="card-body collapse" id="collapseExample">
            <p><a href="{{ url_for('cad_view', assembly=assembly, **download_url_params) }}">view full assembly</a></p>
            <p>Parts:</p>
            <ul class="list-group">
              {% for file in files %}
              <li class="list-group-item list-group-item-action {% if model == file %}list-group-item-info{% endif %}"
                {% if model==file %}aria-current="true" {% endif %}>
                {{file}} : <a
                  href="{{ url_for('cad_view', assembly=assembly, model=file, **download_url_params) }}">view</a> : <a
                  href="{{ url_for('stl_download', assembly=assembly, model=file, **download_url_params) }}">download</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      {% for widget_view in widget_views %}
      <div id="widget-{{ loop.index }}">
        <!-- This script tag will be replaced by the view's DOM tree -->
        <script type="application/vnd.jupyter.widget-view+json">
          {{widget_view|tojson}}
        </script>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Load RequireJS, used by the IPywidgets for dependency management -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js"
  integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" crossorigin="anonymous">
</script>

<!-- Load IPywidgets bundle for embedding. -->
<script data-jupyter-widgets-cdn="https://unpkg.com/" data-jupyter-widgets-cdn-only
  src="https://cdn.jsdelivr.net/npm/@jupyter-widgets/html-manager@*/dist/embed-amd.js" crossorigin="anonymous">
</script>

<!-- The state of all the widget models on the page -->
<script type="application/vnd.jupyter.widget-state+json">
    {{manager_state|tojson}}
</script>
{% endblock %}