{% extends "base.html" %}

{% block content %}
<h1>Welcome to CADLab, the cadquery customizer.</h1>
<p>Select an assembly on the left.</p>
<p>Then select the parameters you want to change and click Customize.</p>
<p>That will show you the updated assembly.</p>
<p>You can then either view each individual model, or download the STL files for the models.</p>

<hr/>
<p>
    You can fork this project and populate the assemblies folder
    with your own parametric models and deploy this on
    heroku (or anywhere else) to host your own models.
</p>
{% endblock %}